<div class="box box-default color-palette-box" ng-controller="SharingController as sharectrl" class="sharing">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i>My Shared Files </h3>
    </div>
    <div class="box-body" id="file-share">
      <div id="drop-target" class="drop-target">Drop your files or folders here</div>
      <div ng-show="sharectrl.noDragDrop">No runtime found, your browser doesn't support HTML5 drag &amp; drop upload.</div>
      <div class="shared-files-container">
        <div class="col-sm-4 col-md-2 shared-file-padding" data-ng-repeat="file in sharectrl.files">
          <a class="btn btn-app  shared-folders">
            <span class="badge bg-teal">{{file.childs.length}}</span>
            <i class="fa fa-4x" ng-class="sharectrl.getFileType(file)"></i> {{file.name}}
          </a>
        </div>
      </div>
      <!-- /.col -->
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>
